Source: wasta-custom-eth
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7

Package: wasta-custom-eth
Architecture: all
Depends: keyman, ${misc:Depends}
Recommends: fonts-sil-abyssinica, hplip-plugin
Description: Wasta-Linux Ethiopia Customization
 Sets up machine for Wasta-Linux Ethiopia use.
